@import "src/styles";

.email-form-container {
  display: grid;
  grid-gap: 10px;

  .email-container {
    .form-container {
      padding: 10px;

      .email-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas: 'name email'
        'message message'
        '. submit';

        input,textarea {
          padding-left: 33px;
          &:focus {
            &+i {
              transition: 0.3s all;
              color: $blue;
            }
          }
        }

        small.error {
          font-size: 15px;
          color: $red;
        }

        .name {
          grid-area: name;

          &.error {
            border-left: 5px solid $red;
          }
        }

        .email {
          grid-area: name;

          &.error {
            border-left: 5px solid $red;
          }
        }

        .message {
          grid-area: message;
          position: relative;
          i {
            position: absolute;
            top: 20px;
            left: 18px;
            transform: translate(-50%, -50%);
          }
        }

        .name, .email {
          position: relative;
          i {
            position: absolute;
            top: 50%;
            left: 18px;
            transform: translate(-50%, -50%);
          }
        }

        button {
          grid-area: submit;
          border: none;
          background-color: #007acc;
          padding: 10px 40px;
          color: #fff;
          justify-self: end;
          cursor: pointer;

          &[disabled] {
            opacity: 0.6;
            cursor: default;
          }
        }

        .error {
          i {
            color: $red !important;
          }
        }
      }
    }
  }
}
