table {
  width: 100%;
  border-collapse: collapse;

  thead {
    th {
      text-transform: uppercase;
      padding: 5px 10px;
      text-align: left;
      border-bottom: 1px solid rgba(0,0,0,0.3);
      i {
        font-size: 10px;
        opacity: 0;
        pointer-events: none;
        transition: 0.2s all;
      }
    }

    th.sorting {
      i {
        opacity: 1;
      }
    }

    th.reversed {
      i {
        transform: rotate(-90deg);
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: #eeeeee;
      }

      td {
        border-bottom: 1px solid rgba(0,0,0,0.3);
        padding: 5px 10px;
      }
    }
  }
}
